
<!-- story title -->
<div class="story_current_sprint" id="story_<%= story_current_sprint.id %>" <%= story_color(story_current_sprint) %> onclick="toggle_div('story_details_<%= story_current_sprint.id %>')">
    <%= story_icon(story_current_sprint) %>
    <%= format_title(story_current_sprint, 94) %>
    <span style="float:right; padding:4px;"><strong><%= story_current_sprint.points %></strong></span>
</div>

<!-- hidden div with details -->
<div class="story_details" id="story_details_<%= story_current_sprint.id %>">
    <% form_for(story_current_sprint) do |f| %>
        TITLE<br />
        <input type="text" name="title" value="<%= story_current_sprint.title %>" size="100">
        <br /><br />

        DESCRIPTION<br />
        <textarea name="description" cols="95" rows="15"><%= story_current_sprint.description %></textarea>
        <br /><br />

        ADD TASK<br />
        <!-- new task -->
        <input type="text" name="newtask" size="100">
        <br /><br />
        <!-- current tasks -->
        CURRENT TASKS:<br />
        <% if story_current_sprint.tasks.length < 1 %>
          <i>No current tasks</i>
        <% end %>
        <% story_current_sprint.tasks.each do |task| %>
          <% if task.status_id != 1 %>
            &nbsp;<del><%= task.title %></del>
            <!-- keep title/checked_status in hidden field so we dont lose titles upon update -->
            <input type="hidden" name="task_<%= task.id %>" value="<%= task.title %>">
            <input type="hidden" name="task_done[<%= task.id %>]">
          <% else %>
            <input type="text" name="task_<%= task.id %>" value="<%= task.title %>" size="100">
            <input type="checkbox" name="task_done[<%= task.id %>]">
          <% end %>
        <% end %>

        <br /><br />

        <table id="story_current_select_boxes">
          <tr>
          <td>STATUS</td>
          <td>
            <select name="status_id">
              <% @statuses.each do |status| %>
                <option value="<%= status.id %>" <%= story_current_sprint.status_id == status.id ? "selected" : "" %>><%= status.name %></option>
              <% end %>
            </select>
          </td>
          </tr>

          <tr>
            <td>ASSIGNEE</td>
            <td><select name="assignee_id">
                  <option value="">--none--</option>
                  <% @users.each do |user| %>
                    <option value="<%= user.id %>" <%= story_current_sprint.assignee_id == user.id ? "selected" : "" %>><%= user.name %></option>
                  <% end %>
                </select>
            </td>
          </tr>
          <tr>
            <td>TYPE</td>
            <td>
              <select name="story_type_id">
                <% @story_types.each do |story_type| %>
                  <option value="<%= story_type.id %>" <%= story_current_sprint.story_type_id == story_type.id ? "selected" : "" %>><%= story_type.name %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>MOVE TO</td>
            <td>
              <select name="section_id">
                <% @sections.each do |section| %>
                  <option value="<%= section['id'] %>" <%= story_current_sprint.section_id == section['id'] ? "selected" : "" %>><%= section['name'] %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>POINTS</td>
            <td>
              <input type="text" name="points" value="<%= story_current_sprint.points %>" size="4">
            </td>
          </tr>
          </table>

        <br />
        <%= f.submit 'Update' %>
    <% end %>

    <br />
    <% form_tag(story_path(story_current_sprint.id), :method => 'delete', :onclick => "return confirm('Are you sure?')") do %>
        <%= submit_tag "Delete" %>
    <% end %>
</div>

