
<div align="center">
    <div id="new_story">
        <br />
        <h2><span style="color:white;">What needs to get done?</span></h2>
        <% form_tag("/stories", :method => "post") do %>
            <input class="new_story_input" type="text" name="title">&nbsp;
            <%= submit_tag("Save") %>
        <% end %>
    </div>
    
    <div id="quick_stats">
        <strong style="font-size:16px;">This Sprint..</strong>
        <span style="float:right;"><strong>Points Left</strong>:&nbsp;<%= total_points_left(@stories_current) %></span>
        <br /><br />
        <strong>Blocked Items</strong>:&nbsp;<span style="color:red;"><%= total_blocked(@stories_current) %></span>
        <br />
        <strong>Ready For QA</strong>:&nbsp;<span style="color:green;"><%= total_ready_for_qa(@stories_current) %></span>
    </div>
</div>

<p><br />

<div class="stories_container_current_sprint">
    <br />
    <strong style="font-size:22px; padding:6px;">Current Sprint</strong>
    <span style="float:right;">
        <strong style="font-size:18px;"><%= total_points(@stories_current) %></strong>&nbsp;points
        &nbsp;
    </span>    
    <br /><br />
    <%= render(:partial => "story_current_sprint", :collection => @stories_current) %>
    <div style="clear:both;">&nbsp;</div>
</div>

<div class="stories_container">
    <h2><span style="color:white;">Backlog</span></h2>
    <%= render(:partial => "story", :collection => @stories_backlog) %>
</div>

<div class="stories_container">
    <h2><span style="color:white;">Icebox</span></h2>
    <%= render(:partial => "story", :collection => @stories_icebox) %>
</div>
