
<div align="center">
    <div id="new_story">
        <h2><span style="color:white;">What needs to get done?</span></h2>
        <% form_tag("/stories", :method => "post") do %>
            <input class="new_story_input" type="text" name="title">&nbsp;
            <%= submit_tag("Save") %>
        <% end %>
    </div>
    
    <div id="quick_stats">
        <strong>Quick Look</strong>
        <br /><br />
        <strong>Points left</strong>:&nbsp;<%= total_points(@stories_current) %>
    </div>
</div>

<p><br />

<div class="stories_container_green">
    <h2>Current Sprint</h2>
    <strong style="font-size:18px;"><%= total_points(@stories_current) %></strong>&nbsp;points
    <br /><br />
    <%= render(:partial => "story", :collection => @stories_current) %>
</div>

<div class="stories_container">
    <h2><span style="color:white;">Backlog</span></h2>
    <%= render(:partial => "story", :collection => @stories_backlog) %>
</div>

<div class="stories_container">
    <h2><span style="color:white;">Icebox</span></h2>
    <%= render(:partial => "story", :collection => @stories_icebox) %>
</div>
