<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Points</th>
    <th>Status</th>
    <th>Assignee</th>
    <th>Story type</th>
    <th>Section</th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%=h story.title %></td>
    <td><%=h story.description %></td>
    <td><%=h story.author_id %></td>
    <td><%=h story.points %></td>
    <td><%=h story.status_id %></td>
    <td><%=h story.assignee_id %></td>
    <td><%=h story.story_type_id %></td>
    <td><%=h story.section_id %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New story', new_story_path %>