<h1>Editing assignee</h1>

<% form_for(@assignee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @assignee %> |
<%= link_to 'Back', assignees_path %>